workflows/connectors/FacebookConnector-v2.json
{
  "name": "FacebookConnector — Publication Facebook",
  "nodes": [
    {
      "parameters": {},
      "id": "2ff734ce-b8a2-4729-bfc7-d7993e446ab7",
      "name": "Trigger Sub-Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        5600,
        2080
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Recevoir les données du PublicationAgent\n// Contrat entrée: { job, payload, access_token, channel_name,\n//   diffusion_type, correlation_id, job_id }\n// ============================================================\nconst input = $input.first().json;\nconst dt = input.diffusion_type;\n\nif (!['ORGANIC', 'PAID'].includes(dt)) {\n  // Retour structuré au lieu de throw — compatible PublicationAgent\n  return [{ json: {\n    _success: false,\n    _status: 'FAILED_PUBLICATION',\n    _error_code: 'INVALID_DIFFUSION_TYPE',\n    _error_message: `diffusion_type inconnu: ${dt}`,\n    _orphans: {},\n    job_id: input.job_id || null,\n    correlation_id: input.correlation_id || '',\n    _route: 'ERROR'\n  } }];\n}\n\nreturn [{ json: { ...input, _route: dt } }];"
      },
      "id": "dc3b4970-288d-475b-9a9a-308f947fce7c",
      "name": "Initialiser Connecteur",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5856,
        2080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json._route }}",
              "rightValue": "ORGANIC",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "b05a1894-40da-41ec-bec1-97d179db3101",
      "name": "Route ORGANIC/PAID",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        6112,
        2080
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// FB ORGANIC — Construction requête (UC-03 §6.1)\n// Supporte : texte, image, vidéo, planification native\n// ============================================================\nconst d = $('Initialiser Connecteur').first().json;\nconst payload = d.payload;\nconst content = payload.content;\nconst pp = payload.platform_params;\nconst page_id = pp.page_id;\n\nconst hasMedia = content.media && content.media.length > 0;\nconst mediaItem = hasMedia ? content.media[0] : null;\nconst mediaType = mediaItem ? (mediaItem.type || '').toUpperCase() : null;\n\n// Composer le message avec hashtags\nlet message = content.text || '';\nif (content.hashtags && Array.isArray(content.hashtags) && content.hashtags.length > 0) {\n  message += '\\n\\n' + content.hashtags.join(' ');\n}\n\nlet endpoint, body, description;\n\nif (hasMedia && (mediaType === 'IMAGE' || mediaType === 'PHOTO')) {\n  // ──── POST /{page_id}/photos ────\n  endpoint = `https://graph.facebook.com/v21.0/${page_id}/photos`;\n  body = { url: mediaItem.url, caption: message, published: true };\n  if (mediaItem.alt_text) body.alt_text_custom = mediaItem.alt_text;\n  description = 'FB ORGANIC Photo';\n\n} else if (hasMedia && (mediaType === 'VIDEO' || mediaType === 'REEL')) {\n  // ──── POST /{page_id}/videos ────\n  endpoint = `https://graph.facebook.com/v21.0/${page_id}/videos`;\n  body = { file_url: mediaItem.url, description: message, published: true };\n  if (content.headline) body.title = content.headline;\n  description = 'FB ORGANIC Video';\n\n} else {\n  // ──── POST /{page_id}/feed (texte seul ou lien) ────\n  endpoint = `https://graph.facebook.com/v21.0/${page_id}/feed`;\n  body = { message };\n  if (content.link && content.link.url) body.link = content.link.url;\n  description = 'FB ORGANIC Post';\n}\n\n// ──── Planification native Facebook (10min – 75j) ────\nif (d.job && d.job.scheduled_at) {\n  const scheduledTs = Math.floor(new Date(d.job.scheduled_at).getTime() / 1000);\n  const now = Math.floor(Date.now() / 1000);\n  const minFuture = now + 600;       // 10 min minimum\n  const maxFuture = now + 6480000;   // 75 jours maximum\n  if (scheduledTs > minFuture && scheduledTs < maxFuture) {\n    body.published = false;\n    body.scheduled_publish_time = scheduledTs;\n  }\n}\n\nreturn [{ json: {\n  ...d,\n  _endpoint: endpoint,\n  _body: body,\n  _description: description\n} }];"
      },
      "id": "bda00b68-b43f-44f7-8e2b-306aee2c2a6b",
      "name": "Construire requête ORGANIC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6368,
        1872
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json._endpoint }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._body) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "8706aea9-4ecf-4dac-bf7a-f57529a514e6",
      "name": "HTTP — FB ORGANIC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6640,
        1872
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Traiter la réponse Facebook ORGANIC\n// onError: continueRegularOutput → on reçoit toujours une sortie\n// ============================================================\nconst resp = $input.first().json;\nconst prev = $('Construire requête ORGANIC').first().json;\n\n// Succès : Facebook retourne { id: \"...\" }\nif (resp.id) {\n  return [{ json: {\n    _success: true,\n    _platform_post_id: String(resp.id),\n    _status: 'PUBLISHED',\n    _error_code: null,\n    _error_message: null,\n    _orphans: {},\n    job_id: prev.job_id,\n    correlation_id: prev.correlation_id\n  } }];\n}\n\n// Échec : erreur Facebook ou erreur réseau\nconst fbErr = resp.error || {};\nconst errMsg = typeof fbErr === 'object'\n  ? (fbErr.message || JSON.stringify(fbErr))\n  : String(fbErr);\nconst errCode = fbErr.code ? `META_${fbErr.code}` : 'HTTP_ERROR';\n\nreturn [{ json: {\n  _success: false,\n  _status: 'FAILED_PUBLICATION',\n  _error_code: errCode,\n  _error_message: String(errMsg).substring(0, 500),\n  _orphans: {},\n  job_id: prev.job_id,\n  correlation_id: prev.correlation_id\n} }];"
      },
      "id": "1d95c6be-0bb4-4e00-be5c-9fba9a902a90",
      "name": "Traiter réponse ORGANIC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6896,
        1872
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pipeline PAID simplifié — Ad uniquement\nconst prev = $('Traiter réponse PAID').first().json;\n\nreturn [{ json: {\n  _success: prev._success,\n  _platform_post_id: prev._platform_post_id || null,\n  _status: prev._status,\n  _error_code: prev._error_code,\n  _error_message: prev._error_message,\n  _orphans: {},\n  job_id: prev.job_id,\n  correlation_id: prev.correlation_id\n} }];"
      },
      "id": "ef7a033f-37e7-49d3-8384-b0a810da39f2",
      "name": "Résultat PAID succès",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7408,
        2176
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// CONVERGENCE ÉCHEC — toutes les branches d'erreur PAID\n// Reçoit les données depuis n'importe quel Check qui échoue\n// ============================================================\nconst d = $input.first().json;\n\nreturn [{ json: {\n  _success: false,\n  _status: d._status || 'FAILED_PUBLICATION',\n  _error_code: d._error_code || 'UNKNOWN',\n  _error_message: d._error_message || 'Erreur inconnue dans le pipeline PAID',\n  _orphans: d._orphans || {},\n  job_id: d.job_id,\n  correlation_id: d.correlation_id\n} }];"
      },
      "id": "c5bf4fcd-cb4b-4bdf-9ada-17d477716228",
      "name": "Résultat ÉCHEC PAID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10000,
        3056
      ]
    },
    {
      "parameters": {
        "jsCode": "// FB PAID — Validate + Préparer Ad\n// Le système reçoit adset_id + creative_id déjà créés manuellement\nconst d = $('Initialiser Connecteur').first().json;\nconst payload = d.payload;\nconst ads = payload.ads;\nconst pp = payload.platform_params;\n\n// Validation\nconst account_id = pp.ad_account_id || pp.account_id;\nif (!account_id) {\n  return [{ json: {\n    ...d, _step_ok: false,\n    _error_code: 'MISSING_AD_ACCOUNT_ID',\n    _error_message: 'ad_account_id absent dans platform_params. Requis pour PAID.'\n  }}];\n}\nif (!ads?.adset_id) {\n  return [{ json: {\n    ...d, _step_ok: false,\n    _error_code: 'MISSING_ADSET_ID',\n    _error_message: 'ads.adset_id absent. Créer l\\'ad set manuellement avant publication.'\n  }}];\n}\nif (!ads?.creative_id) {\n  return [{ json: {\n    ...d, _step_ok: false,\n    _error_code: 'MISSING_CREATIVE_ID',\n    _error_message: 'ads.creative_id absent. Créer le créatif manuellement avant publication.'\n  }}];\n}\n\nconst adBody = {\n  name: `Ad — ${d.job.campaign_id || 'Ad'} — ${d.job_id}`,\n  adset_id: String(ads.adset_id),\n  creative: { creative_id: String(ads.creative_id) },\n  status: ads.status || 'PAUSED'\n};\n\nreturn [{ json: {\n  ...d,\n  _account_id: account_id,\n  _step_ok: true,\n  _endpoint: `https://graph.facebook.com/v21.0/act_${account_id}/ads`,\n  _body: adBody\n}}];"
      },
      "id": "a1b2c3d4-1111-4444-aaaa-000000000001",
      "name": "PAID — Validate + Prép Ad",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6368,
        2272
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json._step_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-2222-4444-aaaa-000000000002",
      "name": "Check PAID OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        6640,
        2272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json._endpoint }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._body) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-3333-4444-aaaa-000000000003",
      "name": "HTTP — Create Ad",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6896,
        2224
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst prev = $('PAID — Validate + Prép Ad').first().json;\n\nif (resp.id) {\n  return [{ json: {\n    _success: true,\n    _platform_post_id: String(resp.id),\n    _status: 'PUBLISHED',\n    _error_code: null,\n    _error_message: null,\n    job_id: prev.job_id,\n    correlation_id: prev.correlation_id\n  }}];\n}\n\nconst fbErr = resp.error || {};\nreturn [{ json: {\n  _success: false,\n  _status: 'FAILED_PUBLICATION',\n  _error_code: fbErr.code ? `META_${fbErr.code}` : 'HTTP_ERROR',\n  _error_message: (fbErr.message || JSON.stringify(fbErr)).substring(0, 500),\n  job_id: prev.job_id,\n  correlation_id: prev.correlation_id\n}}];"
      },
      "id": "a1b2c3d4-4444-4444-aaaa-000000000004",
      "name": "Traiter réponse PAID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7152,
        2224
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger Sub-Workflow": {
      "main": [
        [
          {
            "node": "Initialiser Connecteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialiser Connecteur": {
      "main": [
        [
          {
            "node": "Route ORGANIC/PAID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route ORGANIC/PAID": {
      "main": [
        [
          {
            "node": "Construire requête ORGANIC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PAID — Validate + Prép Ad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construire requête ORGANIC": {
      "main": [
        [
          {
            "node": "HTTP — FB ORGANIC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — FB ORGANIC": {
      "main": [
        [
          {
            "node": "Traiter réponse ORGANIC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PAID — Validate + Prép Ad": {
      "main": [
        [
          {
            "node": "Check PAID OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check PAID OK": {
      "main": [
        [
          {
            "node": "HTTP — Create Ad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Résultat ÉCHEC PAID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — Create Ad": {
      "main": [
        [
          {
            "node": "Traiter réponse PAID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traiter réponse PAID": {
      "main": [
        [
          {
            "node": "Résultat PAID succès",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2b93fea5-af38-4e64-a6c1-5072767537a7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b5eadc60aa2160b2d4f6fd4e1236df5f22cad2d61ce7970f5addab93a65af9e8"
  },
  "id": "3gvFZSiJ98xCHOfX",
  "tags": [
    {
      "updatedAt": "2026-03-23T15:07:20.139Z",
      "createdAt": "2026-03-23T15:07:20.139Z",
      "id": "0YyrCPMMgA2N9Vrp",
      "name": "yahya-rmili"
    },
    {
      "updatedAt": "2026-03-25T08:23:44.594Z",
      "createdAt": "2026-03-25T08:23:44.594Z",
      "id": "NJyK77I8oZ1P6mCe",
      "name": "system-diffusion"
    },
    {
      "updatedAt": "2026-03-12T10:41:22.883Z",
      "createdAt": "2026-03-12T10:41:22.883Z",
      "id": "etzWMj5eFchmPxIW",
      "name": "Connecteurs"
    },
    {
      "updatedAt": "2026-03-12T10:41:22.881Z",
      "createdAt": "2026-03-12T10:41:22.881Z",
      "id": "jNryKgDa4nkbPHEQ",
      "name": "FacebookConnector"
    }
  ]
}
