workflows/connectors/InstagramConnector-v2.json
{
  "name": "InstagramConnector — Publication Instagram",
  "nodes": [
    {
      "parameters": {},
      "id": "d12e69e3-767b-4fc4-9944-4fa0137b322f",
      "name": "Trigger Sub-Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        48,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// FIX F2: Pattern défensif (retour structuré au lieu de throw)\n// ============================================================\nconst input = $input.first().json;\nconst dt = input.diffusion_type;\n\nif (!['ORGANIC', 'PAID'].includes(dt)) {\n  return [{ json: {\n    _success: false,\n    _status: 'FAILED_PUBLICATION',\n    _error_code: 'INVALID_DIFFUSION_TYPE',\n    _error_message: `InstagramConnector — diffusion_type inconnu: ${dt}`,\n    _orphans: {},\n    job_id: input.job_id || null,\n    correlation_id: input.correlation_id || '',\n    _route: 'ERROR'\n  } }];\n}\n\nreturn [{ json: { ...input, _route: dt } }];"
      },
      "id": "5882ecb0-c767-471e-b3e0-5adaf0901ba4",
      "name": "Initialiser Connecteur",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        -96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json._route }}",
              "rightValue": "ORGANIC",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "2e002bb9-a817-4c67-a780-df1c5f6cb2c9",
      "name": "Route ORGANIC/PAID",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        560,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "// IG ORGANIC — Étape 1: Créer le conteneur média (UC-03 §6.3)\nconst d = $('Initialiser Connecteur').first().json;\nconst content = d.payload.content;\nconst pp = d.payload.platform_params;\nconst ig_account_id = pp.account_id || pp.ig_account_id;\n\nlet caption = content.text || '';\nif (content.hashtags && Array.isArray(content.hashtags) && content.hashtags.length > 0) {\n  caption += '\\n\\n' + content.hashtags.join(' ');\n}\n\nconst media = content.media[0];\nconst isVideo = media.type && ['video', 'VIDEO', 'reel', 'REEL'].includes(media.type);\n\nconst body = {\n  caption,\n  media_type: isVideo ? 'VIDEO' : 'IMAGE'\n};\nif (isVideo) body.video_url = media.url;\nelse body.image_url = media.url;\nif (media.alt_text) body.alt_text = media.alt_text;\n\nreturn [{ json: {\n  ...d,\n  _ig_account_id: ig_account_id,\n  _endpoint: `https://graph.facebook.com/v21.0/${ig_account_id}/media`,\n  _body: body\n}}];"
      },
      "id": "aeb655c0-04af-481a-bb8a-efa08286a127",
      "name": "ORGANIC 1 — Créer Conteneur",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        -288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json._endpoint }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._body) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "de675144-f3e2-49d9-89f8-c7e9ca663c30",
      "name": "HTTP — Create Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        -288
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Étape 2: Vérifier conteneur et préparer publish\nconst resp = $input.first().json;\nconst prev = $('ORGANIC 1 — Créer Conteneur').first().json;\n\nif (!resp.id) {\n  const errBody = resp.error || resp;\n  return [{ json: {\n    _success: false,\n    _status: 'FAILED_PUBLICATION',\n    _error_code: 'IG_CONTAINER_FAILED',\n    _error_message: (typeof errBody === 'object' ? JSON.stringify(errBody) : String(errBody)).substring(0, 500),\n    _orphans: {},\n    job_id: prev.job_id,\n    correlation_id: prev.correlation_id\n  } }];\n}\n\nreturn [{ json: {\n  ...prev,\n  _ig_container_id: resp.id,\n  _container_ok: true,\n  _endpoint: `https://graph.facebook.com/v21.0/${prev._ig_account_id}/media_publish`,\n  _body: { creation_id: resp.id }\n}}];"
      },
      "id": "386b87b0-dd3a-4956-b685-3dbb2ecbcf06",
      "name": "ORGANIC 2 — Prép Publish",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        -288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json._container_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "28eb24ec-9974-457d-9bcd-1b157a94cbff"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "420c3fa0-56b0-4e4f-a11c-06140a5774f1",
      "name": "Check Container OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1600,
        -288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json._endpoint }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._body) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "52edfce2-4b02-4a0d-87c7-bd6cd9d45b7b",
      "name": "HTTP — Publish Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1856,
        -432
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst prev = $('ORGANIC 2 — Prép Publish').first().json;\n\nif (resp.id) {\n  return [{ json: {\n    _success: true,\n    _platform_post_id: String(resp.id),\n    _status: 'PUBLISHED',\n    _error_code: null,\n    _error_message: null,\n    _orphans: {},\n    job_id: prev.job_id,\n    correlation_id: prev.correlation_id\n  } }];\n}\n\nconst errBody = resp.error || resp;\nreturn [{ json: {\n  _success: false,\n  _status: 'FAILED_PUBLICATION',\n  _error_code: 'IG_PUBLISH_FAILED',\n  _error_message: (typeof errBody === 'object' ? JSON.stringify(errBody) : String(errBody)).substring(0, 500),\n  _orphans: {},\n  job_id: prev.job_id,\n  correlation_id: prev.correlation_id\n} }];"
      },
      "id": "6228e675-f1c9-4061-8ed8-e83141cc88a8",
      "name": "Traiter réponse Publish",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        -336
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pipeline PAID simplifié — Ad uniquement\nconst prev = $('Traiter réponse PAID').first().json;\n\nreturn [{ json: {\n  _success: prev._success,\n  _platform_post_id: prev._platform_post_id || null,\n  _status: prev._status,\n  _error_code: prev._error_code,\n  _error_message: prev._error_message,\n  _orphans: {},\n  job_id: prev.job_id,\n  correlation_id: prev.correlation_id\n} }];"
      },
      "id": "4d4ce3b1-5a6e-4f19-833c-dc7e3e73d009",
      "name": "Résultat PAID succès",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "// Convergence de toutes les erreurs PAID + ORGANIC\nconst data = $input.first().json;\nreturn [{ json: {\n  _success: false,\n  _status: data._status || 'FAILED_PUBLICATION',\n  _error_code: data._error_code || 'UNKNOWN',\n  _error_message: data._error_message || 'Erreur inconnue',\n  _orphans: data._orphans || {},\n  _platform_post_id: null,\n  job_id: data.job_id,\n  correlation_id: data.correlation_id\n} }];"
      },
      "id": "a7d84e4e-49b7-4c7e-b84c-57e9ac687d00",
      "name": "Résultat ÉCHEC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4624,
        752
      ]
    },
    {
      "parameters": {
        "jsCode": "// IG PAID — Validate + Préparer Ad\n// Le système reçoit adset_id + creative_id déjà créés manuellement\nconst d = $('Initialiser Connecteur').first().json;\nconst payload = d.payload;\nconst ads = payload.ads;\nconst pp = payload.platform_params;\n\n// Validation\nconst account_id = pp.ad_account_id || pp.account_id;\nif (!account_id) {\n  return [{ json: {\n    ...d, _step_ok: false,\n    _error_code: 'MISSING_AD_ACCOUNT_ID',\n    _error_message: 'ad_account_id absent dans platform_params. Requis pour PAID.'\n  }}];\n}\nif (!ads?.adset_id) {\n  return [{ json: {\n    ...d, _step_ok: false,\n    _error_code: 'MISSING_ADSET_ID',\n    _error_message: 'ads.adset_id absent. Créer l\\'ad set manuellement avant publication.'\n  }}];\n}\nif (!ads?.creative_id) {\n  return [{ json: {\n    ...d, _step_ok: false,\n    _error_code: 'MISSING_CREATIVE_ID',\n    _error_message: 'ads.creative_id absent. Créer le créatif manuellement avant publication.'\n  }}];\n}\n\nconst adBody = {\n  name: `Ad — IG — ${d.job.campaign_id || 'Ad'} — ${d.job_id}`,\n  adset_id: String(ads.adset_id),\n  creative: { creative_id: String(ads.creative_id) },\n  status: ads.status || 'PAUSED'\n};\n\nreturn [{ json: {\n  ...d,\n  _account_id: account_id,\n  _step_ok: true,\n  _endpoint: `https://graph.facebook.com/v21.0/act_${account_id}/ads`,\n  _body: adBody\n}}];"
      },
      "id": "b1c2d3e4-1111-4444-bbbb-000000000001",
      "name": "PAID — Validate + Prép Ad",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json._step_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "b1c2d3e4-2222-4444-bbbb-000000000002",
      "name": "Check PAID OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1088,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json._endpoint }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._body) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b1c2d3e4-3333-4444-bbbb-000000000003",
      "name": "HTTP — Create Ad",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        64
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst prev = $('PAID — Validate + Prép Ad').first().json;\n\nif (resp.id) {\n  return [{ json: {\n    _success: true,\n    _platform_post_id: String(resp.id),\n    _status: 'PUBLISHED',\n    _error_code: null,\n    _error_message: null,\n    job_id: prev.job_id,\n    correlation_id: prev.correlation_id\n  }}];\n}\n\nconst fbErr = resp.error || {};\nreturn [{ json: {\n  _success: false,\n  _status: 'FAILED_PUBLICATION',\n  _error_code: fbErr.code ? `META_${fbErr.code}` : 'HTTP_ERROR',\n  _error_message: (fbErr.message || JSON.stringify(fbErr)).substring(0, 500),\n  job_id: prev.job_id,\n  correlation_id: prev.correlation_id\n}}];"
      },
      "id": "b1c2d3e4-4444-4444-bbbb-000000000004",
      "name": "Traiter réponse PAID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        64
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger Sub-Workflow": {
      "main": [
        [
          {
            "node": "Initialiser Connecteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialiser Connecteur": {
      "main": [
        [
          {
            "node": "Route ORGANIC/PAID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route ORGANIC/PAID": {
      "main": [
        [
          {
            "node": "ORGANIC 1 — Créer Conteneur",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PAID — Validate + Prép Ad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ORGANIC 1 — Créer Conteneur": {
      "main": [
        [
          {
            "node": "HTTP — Create Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — Create Container": {
      "main": [
        [
          {
            "node": "ORGANIC 2 — Prép Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ORGANIC 2 — Prép Publish": {
      "main": [
        [
          {
            "node": "Check Container OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Container OK": {
      "main": [
        [
          {
            "node": "HTTP — Publish Container",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Résultat ÉCHEC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — Publish Container": {
      "main": [
        [
          {
            "node": "Traiter réponse Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PAID — Validate + Prép Ad": {
      "main": [
        [
          {
            "node": "Check PAID OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check PAID OK": {
      "main": [
        [
          {
            "node": "HTTP — Create Ad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Résultat ÉCHEC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — Create Ad": {
      "main": [
        [
          {
            "node": "Traiter réponse PAID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traiter réponse PAID": {
      "main": [
        [
          {
            "node": "Résultat PAID succès",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "67a53e16-18c9-450c-ab1f-349cb0fde08e",
  "meta": {
    "instanceId": "b5eadc60aa2160b2d4f6fd4e1236df5f22cad2d61ce7970f5addab93a65af9e8"
  },
  "id": "O3oIWdQTcp7wyEfG",
  "tags": [
    {
      "updatedAt": "2026-03-23T15:07:20.139Z",
      "createdAt": "2026-03-23T15:07:20.139Z",
      "id": "0YyrCPMMgA2N9Vrp",
      "name": "yahya-rmili"
    },
    {
      "updatedAt": "2026-03-12T11:51:54.497Z",
      "createdAt": "2026-03-12T11:51:54.497Z",
      "id": "3TNRr6NgTJXvoYKT",
      "name": "InstagramConnector"
    },
    {
      "updatedAt": "2026-03-25T08:23:44.594Z",
      "createdAt": "2026-03-25T08:23:44.594Z",
      "id": "NJyK77I8oZ1P6mCe",
      "name": "system-diffusion"
    },
    {
      "updatedAt": "2026-03-12T10:41:22.883Z",
      "createdAt": "2026-03-12T10:41:22.883Z",
      "id": "etzWMj5eFchmPxIW",
      "name": "Connecteurs"
    }
  ]
}
