workflows/connectors/LinkedInConnector-v2.json
{
  "name": "LinkedInConnector — Publication LinkedIn",
  "nodes": [
    {
      "parameters": {},
      "id": "6e05d6c4-e28d-4de9-8c68-bb75a4893f38",
      "name": "Trigger Sub-Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        672
      ]
    },
    {
      "parameters": {
        "jsCode": "// FIX F2: Pattern défensif (retour structuré au lieu de throw)\nconst input = $input.first().json;\nconst dt = input.diffusion_type;\n\nif (!['ORGANIC', 'PAID'].includes(dt)) {\n  return [{ json: {\n    _success: false,\n    _status: 'FAILED_PUBLICATION',\n    _error_code: 'INVALID_DIFFUSION_TYPE',\n    _error_message: `LinkedInConnector — diffusion_type inconnu: ${dt}`,\n    _orphans: {},\n    job_id: input.job_id || null,\n    correlation_id: input.correlation_id || '',\n    _route: 'ERROR'\n  } }];\n}\n\nreturn [{ json: { ...input, _route: dt } }];"
      },
      "id": "5acacb3c-8145-4e43-b1d6-8f86b6382aed",
      "name": "Initialiser Connecteur",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        672
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json._route }}",
              "rightValue": "ORGANIC",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "8bf0d1ee-0e9d-4fce-9fc5-92f25a6e1fd7"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9b7df790-3404-4883-a8fc-13aef64e9642",
      "name": "Route ORGANIC/PAID",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        240,
        672
      ]
    },
    {
      "parameters": {
        "jsCode": "// LI ORGANIC — Construire le post (UC-03 §6.5)\nconst d = $('Initialiser Connecteur').first().json;\nconst content = d.payload.content;\nconst pp = d.payload.platform_params;\nconst author_urn = pp.author_urn;\nconst visibility = pp.visibility || 'PUBLIC';\n\nlet commentary = content.text || '';\nif (content.hashtags && Array.isArray(content.hashtags) && content.hashtags.length > 0) {\n  commentary += '\\n\\n' + content.hashtags.join(' ');\n}\n\nconst postBody = {\n  author: author_urn,\n  commentary,\n  visibility,\n  distribution: { feedDistribution: 'MAIN_FEED', targetEntities: [], thirdPartyDistributionChannels: [] },\n  lifecycleState: 'PUBLISHED'\n};\n\nconst hasMedia = content.media && content.media.length > 0;\nif (hasMedia) {\n  // Placeholder — sera remplacé après upload\n  postBody.content = {\n    media: {\n      title: content.media[0].alt_text || 'Media',\n      id: 'PLACEHOLDER_MEDIA_URN'\n    }\n  };\n}\n\nif (!hasMedia && content.link?.url) {\n  postBody.content = {\n    article: {\n      source: content.link.url,\n      title: content.headline || content.text?.substring(0, 70) || '',\n      description: content.description || ''\n    }\n  };\n}\n\nreturn [{ json: {\n  ...d,\n  _has_media: hasMedia,\n  _media_url: hasMedia ? content.media[0].url : null,\n  _post_body: postBody,\n  _author_urn: author_urn\n}}];"
      },
      "id": "6bdfc7a7-0cd0-4d29-898e-0362d8c4d5e5",
      "name": "Construire Post LI ORGANIC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json._has_media }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "d09a6b6c-26e6-44fd-84b6-132450929ab7"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6886d6a3-4d04-4ec6-9978-1a70e32e29aa",
      "name": "A média ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        752,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Construire Post LI ORGANIC').first().json;\nreturn [{ json: {\n  ...d,\n  _endpoint: 'https://api.linkedin.com/rest/images?action=initializeUpload',\n  _body: { initializeUploadRequest: { owner: d._author_urn } }\n}}];"
      },
      "id": "208b9ba4-9c5c-40d8-a705-9262ddd09d42",
      "name": "Prép Upload Média",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        352
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json._endpoint }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202601"
            },
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._body) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "3b743301-1d0c-44cb-9e33-7dbf404b4e55",
      "name": "HTTP — Init Upload LI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        352
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Extraire l'image URN et l'upload URL\nconst resp = $input.first().json;\nconst prev = $('Construire Post LI ORGANIC').first().json;\nconst body = resp.value || resp;\n\nconst imageUrn = body.image || 'UPLOAD_FAILED';\nconst uploadUrl = body.uploadUrl || '';\n\nif (!uploadUrl) {\n  return [{ json: {\n    _success: false,\n    _status: 'FAILED_PUBLICATION',\n    _error_code: 'LI_UPLOAD_INIT_FAILED',\n    _error_message: 'LinkedIn initializeUpload n\\'a pas retourné d\\'uploadUrl',\n    _orphans: {},\n    job_id: prev.job_id,\n    correlation_id: prev.correlation_id\n  } }];\n}\n\nreturn [{ json: {\n  ...prev,\n  _image_urn: imageUrn,\n  _upload_url: uploadUrl,\n  _upload_ok: true\n}}];"
      },
      "id": "50c56d2f-e356-4ae0-913d-2acbcb6671ac",
      "name": "Extraire Upload URL + URN",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        352
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json._upload_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "02209428-bc57-41af-aea0-55c65827cfc8",
      "name": "Check Upload Init OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1792,
        352
      ]
    },
    {
      "parameters": {
        "url": "={{ $json._media_url }}",
        "options": {
          "response": {
            "response": {}
          },
          "timeout": 60000
        }
      },
      "id": "af4125ae-3256-4299-a0da-2760a07ea997",
      "name": "HTTP — Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2048,
        288
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Extraire Upload URL + URN').first().json._upload_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Extraire Upload URL + URN').first().json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "timeout": 120000
        }
      },
      "id": "a27a3df1-6811-4802-b5da-55c3747feeec",
      "name": "HTTP — PUT Upload LI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        288
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Finaliser le post body avec l'image URN réel\nconst d = $('Extraire Upload URL + URN').first().json;\nconst postBody = { ...d._post_body };\nif (postBody.content?.media) {\n  postBody.content.media.id = d._image_urn;\n}\n\nreturn [{ json: {\n  ...d,\n  _endpoint: 'https://api.linkedin.com/rest/posts',\n  _body: postBody\n}}];"
      },
      "id": "69bfc2d6-dd8a-4320-bec7-b21cbbd4cd49",
      "name": "Prép POST (avec média)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2576,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Construire Post LI ORGANIC').first().json;\nreturn [{ json: {\n  ...d,\n  _endpoint: 'https://api.linkedin.com/rest/posts',\n  _body: d._post_body\n}}];"
      },
      "id": "cf60b792-cc6a-46bd-8a2e-6acbb1ac4fd7",
      "name": "Prép POST (sans média)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        592
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json._endpoint }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202601"
            },
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._body) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 30000
        }
      },
      "id": "8c57a831-86cf-4407-be39-7babd7738260",
      "name": "HTTP — Create Post LI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2832,
        480
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst prev = $('Construire Post LI ORGANIC').first().json;\nconst headers = resp.headers || {};\n\n// LinkedIn retourne 201 avec x-restli-id\nconst postUrn = headers['x-restli-id'] || headers['x-linkedin-id'] || resp.id || null;\n\nif (postUrn) {\n  return [{ json: {\n    _success: true,\n    _platform_post_id: postUrn,\n    _status: 'PUBLISHED',\n    _error_code: null,\n    _error_message: null,\n    _orphans: {},\n    job_id: prev.job_id,\n    correlation_id: prev.correlation_id\n  } }];\n}\n\n// Vérifier si c'est une erreur\nconst errBody = resp.error || resp;\nconst errMsg = typeof errBody === 'object' ? JSON.stringify(errBody) : String(errBody);\nreturn [{ json: {\n  _success: false,\n  _status: 'FAILED_PUBLICATION',\n  _error_code: 'LI_POST_FAILED',\n  _error_message: errMsg.substring(0, 500),\n  _orphans: {},\n  job_id: prev.job_id,\n  correlation_id: prev.correlation_id\n} }];"
      },
      "id": "675179f3-156d-49ab-b360-3692eef315aa",
      "name": "Traiter réponse ORGANIC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3088,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// LI PAID — Étape 1: Créer Campaign\nconst d = $('Initialiser Connecteur').first().json;\nconst ads = d.payload.ads || {};\nconst pp = d.payload.platform_params;\n\nconst campaignBody = {\n  account: pp.ad_account_urn || `urn:li:sponsoredAccount:${pp.account_id || '0'}`,\n  name: `${d.job.campaign_id || 'Campaign'} — LINKEDIN — ${d.job_id}`,\n  type: ads.campaign_params?.campaign_type || 'SPONSORED_CONTENT',\n  objectiveType: ads.campaign_params?.objective || 'WEBSITE_VISITS',\n  status: 'PAUSED',\n  costType: 'CPM',\n  dailyBudget: {\n    amount: String(d.job.budget_amount || 100),\n    currencyCode: d.job.budget_currency || 'MAD'\n  },\n  targetingCriteria: ads.adset_params?.targeting || {},\n  locale: { country: 'MA', language: 'fr' }\n};\n\nif (d.job.scheduled_at) {\n  campaignBody.runSchedule = { start: new Date(d.job.scheduled_at).getTime() };\n}\n\nreturn [{ json: {\n  ...d,\n  _step_ok: true,\n  _step: 'CAMPAIGN',\n  _endpoint: 'https://api.linkedin.com/rest/adCampaigns',\n  _body: campaignBody,\n  _orphans: {}\n} }];"
      },
      "id": "3557c50c-457e-48bb-9d7a-784b7573b9eb",
      "name": "PAID 1 — Prép Campaign LI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json._endpoint }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202401"
            },
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._body) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 30000
        }
      },
      "id": "8a707fcd-c1fd-42fd-ab26-8fe4b036d1a5",
      "name": "HTTP — LI Campaign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        752,
        880
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Étape 2: Vérifier Campaign + Créer Creative\nconst resp = $input.first().json;\nconst prev = $('PAID 1 — Prép Campaign LI').first().json;\nconst headers = resp.headers || {};\n\nconst li_campaign_id = headers['x-restli-id'] || resp.id || null;\nif (!li_campaign_id) {\n  return [{ json: {\n    ...prev, _step_ok: false,\n    _error_code: 'LI_CAMPAIGN_FAILED',\n    _error_message: JSON.stringify(resp.error || resp).substring(0, 500),\n    _orphans: {}\n  } }];\n}\n\nconst content = prev.payload.content;\nconst pp = prev.payload.platform_params;\n\nconst creativeBody = {\n  campaign: `urn:li:sponsoredCampaign:${li_campaign_id}`,\n  reference: pp.author_urn || 'urn:li:organization:0',\n  intendedStatus: 'ACTIVE',\n  type: 'SPONSORED',\n  variables: {\n    data: {\n      'com.linkedin.ads.SponsoredUpdateCreativeVariables': {\n        activity: '',\n        directSponsoredContent: {\n          share: {\n            commentary: content.text || '',\n            shareMediaCategory: 'ARTICLE',\n            media: [{\n              status: 'READY',\n              originalUrl: content.link?.url || '',\n              title: { text: content.headline || '' },\n              description: { text: content.description || '' }\n            }]\n          }\n        }\n      }\n    }\n  }\n};\nif (pp.cta_type) creativeBody.callToAction = { labelType: pp.cta_type };\n\nreturn [{ json: {\n  ...prev,\n  _li_campaign_id: li_campaign_id,\n  _orphans: { li_campaign_id },\n  _step_ok: true,\n  _step: 'CREATIVE',\n  _endpoint: 'https://api.linkedin.com/rest/creatives',\n  _body: creativeBody\n} }];"
      },
      "id": "ab83272a-94f0-497b-b178-f278149a1450",
      "name": "PAID 2 — Check Campaign + Prép Creative",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json._step_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ec896c9c-d7cc-4c42-bd3b-7a65ee118dbf",
      "name": "Check Campaign OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1280,
        880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json._endpoint }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202401"
            },
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._body) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 30000
        }
      },
      "id": "5c299863-d514-4282-9ee8-74c5b426cd18",
      "name": "HTTP — LI Creative",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1536,
        816
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Étape 3: Vérifier Creative + Activer Campaign\n// FIX F8: Utiliser PATCH endpoint au lieu de POST\nconst resp = $input.first().json;\nconst prev = $('PAID 2 — Check Campaign + Prép Creative').first().json;\nconst headers = resp.headers || {};\n\nconst li_creative_id = headers['x-restli-id'] || resp.id || null;\nif (!li_creative_id) {\n  return [{ json: {\n    ...prev, _step_ok: false,\n    _error_code: 'LI_CREATIVE_FAILED',\n    _error_message: JSON.stringify(resp.error || resp).substring(0, 500),\n    _orphans: prev._orphans\n  } }];\n}\n\nreturn [{ json: {\n  ...prev,\n  _li_creative_id: li_creative_id,\n  _step_ok: true,\n  _step: 'ACTIVATE',\n  // FIX F8: Endpoint pour PATCH (activation via partial update)\n  _endpoint: `https://api.linkedin.com/rest/adCampaigns/${prev._li_campaign_id}`,\n  _body: { status: 'ACTIVE', patch: { '$set': { status: 'ACTIVE' } } }\n} }];"
      },
      "id": "4c2ada6c-8ac7-4322-a7dc-9e38ad027550",
      "name": "PAID 3 — Check Creative + Prép Activation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        816
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json._step_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "2ad6cc53-b8cd-4243-a17b-92dbec788543",
      "name": "Check Creative OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2048,
        816
      ]
    },
    {
      "parameters": {
        "method": "=PATCH",
        "url": "={{ $json._endpoint }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202401"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'ACTIVE' }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "ac67c817-73e4-43fd-8dbe-41629a27525c",
      "name": "HTTP — LI Activate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2432,
        640
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst prev = $('PAID 3 — Check Creative + Prép Activation').first().json;\n\n// LinkedIn PATCH retourne 204 No Content en cas de succès\nconst isError = resp.error || (resp.status && resp.status >= 400);\nif (isError) {\n  return [{ json: {\n    ...prev, _step_ok: false,\n    _error_code: 'LI_ACTIVATION_FAILED',\n    _error_message: JSON.stringify(resp.error || resp).substring(0, 500)\n  } }];\n}\n\nreturn [{ json: { ...prev, _step_ok: true } }];"
      },
      "id": "cf32cb93-243a-4922-9f65-cc83656bc879",
      "name": "PAID 4 — Check Activation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        752
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json._step_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "91cff0f3-48ef-4cb4-90f5-26ad661bf528",
      "name": "Check Activation OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2832,
        752
      ]
    },
    {
      "parameters": {
        "jsCode": "const prev = $('PAID 3 — Check Creative + Prép Activation').first().json;\nreturn [{ json: {\n  _success: true,\n  _platform_post_id: `li_campaign:${prev._li_campaign_id}|li_creative:${prev._li_creative_id}`,\n  _status: 'PUBLISHED',\n  _error_code: null,\n  _error_message: null,\n  _orphans: {},\n  job_id: prev.job_id,\n  correlation_id: prev.correlation_id\n} }];"
      },
      "id": "b4312b55-874c-48fe-b75d-efd86b2eba3a",
      "name": "Résultat PAID succès",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3088,
        688
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{ json: {\n  _success: false,\n  _status: data._status || 'FAILED_PUBLICATION',\n  _error_code: data._error_code || 'UNKNOWN',\n  _error_message: data._error_message || 'Erreur inconnue',\n  _orphans: data._orphans || {},\n  _platform_post_id: null,\n  job_id: data.job_id,\n  correlation_id: data.correlation_id\n} }];"
      },
      "id": "be76c01c-7316-4f13-8374-f41d182e0a20",
      "name": "Résultat ÉCHEC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3072,
        1152
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger Sub-Workflow": {
      "main": [
        [
          {
            "node": "Initialiser Connecteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialiser Connecteur": {
      "main": [
        [
          {
            "node": "Route ORGANIC/PAID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route ORGANIC/PAID": {
      "main": [
        [
          {
            "node": "Construire Post LI ORGANIC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PAID 1 — Prép Campaign LI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construire Post LI ORGANIC": {
      "main": [
        [
          {
            "node": "A média ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A média ?": {
      "main": [
        [
          {
            "node": "Prép Upload Média",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prép POST (sans média)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prép Upload Média": {
      "main": [
        [
          {
            "node": "HTTP — Init Upload LI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — Init Upload LI": {
      "main": [
        [
          {
            "node": "Extraire Upload URL + URN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraire Upload URL + URN": {
      "main": [
        [
          {
            "node": "Check Upload Init OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Upload Init OK": {
      "main": [
        [
          {
            "node": "HTTP — Download Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Résultat ÉCHEC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — Download Image": {
      "main": [
        [
          {
            "node": "HTTP — PUT Upload LI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — PUT Upload LI": {
      "main": [
        [
          {
            "node": "Prép POST (avec média)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prép POST (avec média)": {
      "main": [
        [
          {
            "node": "HTTP — Create Post LI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prép POST (sans média)": {
      "main": [
        [
          {
            "node": "HTTP — Create Post LI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — Create Post LI": {
      "main": [
        [
          {
            "node": "Traiter réponse ORGANIC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PAID 1 — Prép Campaign LI": {
      "main": [
        [
          {
            "node": "HTTP — LI Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — LI Campaign": {
      "main": [
        [
          {
            "node": "PAID 2 — Check Campaign + Prép Creative",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PAID 2 — Check Campaign + Prép Creative": {
      "main": [
        [
          {
            "node": "Check Campaign OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Campaign OK": {
      "main": [
        [
          {
            "node": "HTTP — LI Creative",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Résultat ÉCHEC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — LI Creative": {
      "main": [
        [
          {
            "node": "PAID 3 — Check Creative + Prép Activation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PAID 3 — Check Creative + Prép Activation": {
      "main": [
        [
          {
            "node": "Check Creative OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Creative OK": {
      "main": [
        [
          {
            "node": "HTTP — LI Activate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Résultat ÉCHEC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — LI Activate": {
      "main": [
        [
          {
            "node": "PAID 4 — Check Activation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PAID 4 — Check Activation": {
      "main": [
        [
          {
            "node": "Check Activation OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Activation OK": {
      "main": [
        [
          {
            "node": "Résultat PAID succès",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Résultat ÉCHEC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d252c21c-8866-43e9-a56e-b32b8e868692",
  "meta": {
    "instanceId": "b5eadc60aa2160b2d4f6fd4e1236df5f22cad2d61ce7970f5addab93a65af9e8"
  },
  "id": "wkqUF2Rl9j94ynvI",
  "tags": [
    {
      "updatedAt": "2026-03-23T15:07:20.139Z",
      "createdAt": "2026-03-23T15:07:20.139Z",
      "id": "0YyrCPMMgA2N9Vrp",
      "name": "yahya-rmili"
    },
    {
      "updatedAt": "2026-03-12T11:52:31.777Z",
      "createdAt": "2026-03-12T11:52:31.777Z",
      "id": "73xhyqT4OQIuBqKl",
      "name": "LinkedInConnector"
    },
    {
      "updatedAt": "2026-03-25T08:23:44.594Z",
      "createdAt": "2026-03-25T08:23:44.594Z",
      "id": "NJyK77I8oZ1P6mCe",
      "name": "system-diffusion"
    },
    {
      "updatedAt": "2026-03-12T10:41:22.883Z",
      "createdAt": "2026-03-12T10:41:22.883Z",
      "id": "etzWMj5eFchmPxIW",
      "name": "Connecteurs"
    }
  ]
}