workflows/services/CredentialsService-v2.json
{
  "name": "CredentialsService v2 — PostgreSQL",
  "nodes": [
    {
      "parameters": {},
      "id": "59cb9b24-5f0b-425d-b466-d6f9803bdeec",
      "name": "Trigger Sub-Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -784,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// CredentialsService v2 ? Validation\n// ============================================================\n\nconst items = $input.all();\n\nconst VALID_ACTIONS = [\n  'GET_CREDENTIAL',\n  'VALIDATE_CREDENTIAL',\n  'UPDATE_TOKEN',\n  'CHECK_EXPIRATION',\n];\n\nreturn items.map((it, idx) => {\n  const input = it.json || {};\n  const action = String(input.action || '').trim().toUpperCase();\n\n  if (!action) {\n    throw new Error(`CredentialsService ? [item ${idx}] champ obligatoire manquant: action`);\n  }\n  if (!VALID_ACTIONS.includes(action)) {\n    throw new Error(`CredentialsService ? [item ${idx}] action inconnue: '${action}'. Valides: ${VALID_ACTIONS.join(', ')}`);\n  }\n\n  if (input.tenant_id === undefined || input.tenant_id === null || String(input.tenant_id).trim() === '') {\n    throw new Error(`CredentialsService ? [item ${idx}] champ obligatoire manquant: tenant_id`);\n  }\n\n  if (action === 'GET_CREDENTIAL' || action === 'VALIDATE_CREDENTIAL' || action === 'CHECK_EXPIRATION') {\n    if (!input.credential_ref) {\n      throw new Error(`CredentialsService ${action} ? [item ${idx}] champ obligatoire manquant: credential_ref`);\n    }\n  }\n\n  if (action === 'UPDATE_TOKEN') {\n    const missing = [];\n    if (!input.credential_ref) missing.push('credential_ref');\n    if (!input.new_access_token) missing.push('new_access_token');\n    if (!input.new_expires_at) missing.push('new_expires_at');\n    if (missing.length) {\n      throw new Error(`CredentialsService UPDATE_TOKEN ? [item ${idx}] champs manquants: ${missing.join(', ')}`);\n    }\n  }\n\n  return {\n    json: {\n      ...input,\n      action,\n      __req_idx: idx,\n    },\n    pairedItem: it.pairedItem ?? { item: idx },\n  };\n});\n"
      },
      "id": "303ad8b0-4e63-4512-9a19-903b5e530254",
      "name": "Valider entrée & action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        304
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "GET_CREDENTIAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "86c651aa-8cdb-4c53-9b6f-f6eeb93e0349"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "VALIDATE_CREDENTIAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "17de31b5-e5b0-4cba-b5fc-be3eadf8e3a5"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "UPDATE_TOKEN",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "76e9efe6-f2b7-4141-89ca-38c54bc65202"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "CHECK_EXPIRATION",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3f39997f-5698-49a5-b788-951beb8e05f9"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "40d95400-b5b1-4423-bf15-4d800ab63652",
      "name": "Router par action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -288,
        304
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://spotty-teams-enter.loca.lt/v1/secret/data/credentials/' + $json.credential_ref }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Vault-Token",
              "value": "V4ult_R00t_T0k3n_2026!"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "pg-get-credential-001",
      "name": "HTTP — GET credential from Vault",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Réponse GET_CREDENTIAL v2 (PostgreSQL)\n// ============================================================\n// SIMPLIFICATION vs v1 :\n//   - Plus besoin de rec.fields vs rec (PostgreSQL retourne plat)\n//   - Plus de airtable_record_id\n//   - Requête paramétrisée = anti injection SQL\n// ============================================================\n\nconst results = $input.all();\nconst allReq = $items('Valider entrée & action').map(i => i.json);\nconst reqs = allReq.filter(r => r.action === 'GET_CREDENTIAL');\n\nreturn reqs.map((rq, subIdx) => {\n  const row = results[subIdx]?.json?.data?.data || null;\n\n  if (!row) {\n    return {\n      json: {\n        success: false,\n        action: 'GET_CREDENTIAL',\n        error_code: 'CREDENTIAL_NOT_FOUND',\n        error_message: `credential_ref '${rq.credential_ref}' introuvable dans le Credentials Store`,\n      },\n      pairedItem: { item: rq.__req_idx },\n    };\n  }\n\n  return {\n    json: {\n      success: true,\n      action: 'GET_CREDENTIAL',\n      credential: {\n        credential_ref: rq.credential_ref,\n        client_id: row.client_id ?? null,\n        platform: row.platform || '',\n        access_token: row.access_token || '',\n        refresh_token: row.refresh_token || '',\n        client_app_id: row.client_app_id || '',\n        client_secret: row.client_secret || '',\n        expires_at: row.expires_at || null,\n      },\n    },\n    pairedItem: { item: rq.__req_idx },\n  };\n});\n"
      },
      "id": "1e57261b-ba90-4390-b07d-4623d0862dcb",
      "name": "Réponse GET_CREDENTIAL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://spotty-teams-enter.loca.lt/v1/secret/data/credentials/' + $json.credential_ref }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Vault-Token",
              "value": "V4ult_R00t_T0k3n_2026!"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "pg-validate-credential-001",
      "name": "HTTP - GET credential for VALIDATE (Vault)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        208
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Réponse VALIDATE_CREDENTIAL v2 (PostgreSQL)\n// ============================================================\n// Logique métier IDENTIQUE à v1 :\n//   - Vérifie l'existence\n//   - Vérifie la compatibilité platform ↔ channel_name\n//   - Conserve le contexte entrant (...rq)\n// ============================================================\n\nconst results = $input.all();\nconst allReq = $items('Valider entrée & action').map((it, idx) => ({\n  __req_idx: idx,\n  ...it.json\n}));\nconst reqs = allReq.filter(r => r.action === 'VALIDATE_CREDENTIAL');\n\nconst CHANNEL_TO_PLATFORM = {\n  FACEBOOK: 'facebook',\n  INSTAGRAM: 'facebook',\n  LINKEDIN: 'linkedin',\n};\n\nreturn reqs.map((rq, subIdx) => {\n  const row = results[subIdx]?.json?.data?.data || null;\n\n  // Credential introuvable\n  if (!row) {\n    return {\n      json: {\n        ...rq,\n        success: true,\n        action: 'VALIDATE_CREDENTIAL',\n        credential_ref: rq.credential_ref,\n        exists: false,\n        valid: false,\n        error_code: 'CREDENTIAL_NOT_FOUND',\n        error_message: `credential_ref '${rq.credential_ref}' introuvable`,\n      },\n      pairedItem: { item: rq.__req_idx },\n    };\n  }\n\n  const platform = String(row.platform || '').toLowerCase();\n\n  // Vérification compatibilité channel ↔ platform\n  if (rq.channel_name) {\n    const channelNorm = String(rq.channel_name).trim().toUpperCase();\n    const expected = CHANNEL_TO_PLATFORM[channelNorm];\n\n    if (!expected) {\n      return {\n        json: {\n          ...rq,\n          success: true,\n          action: 'VALIDATE_CREDENTIAL',\n          credential_ref: rq.credential_ref,\n          exists: true,\n          valid: false,\n          error_code: 'UNSUPPORTED_CHANNEL',\n          error_message: `Canal '${channelNorm}' non supporté`,\n        },\n        pairedItem: { item: rq.__req_idx },\n      };\n    }\n\n    const isMatch =\n      platform === expected ||\n      (platform === 'facebook' &&\n        (channelNorm === 'FACEBOOK' || channelNorm === 'INSTAGRAM'));\n\n    if (!isMatch) {\n      return {\n        json: {\n          ...rq,\n          success: true,\n          action: 'VALIDATE_CREDENTIAL',\n          credential_ref: rq.credential_ref,\n          exists: true,\n          valid: false,\n          platform_actual: platform,\n          channel_expected: channelNorm,\n          error_code: 'CREDENTIAL_PLATFORM_MISMATCH',\n          error_message: `credential_ref pointe vers '${platform}', attendu plateforme compatible avec '${channelNorm}'`,\n        },\n        pairedItem: { item: rq.__req_idx },\n      };\n    }\n  }\n\n  return {\n    json: {\n      ...rq,\n      success: true,\n      action: 'VALIDATE_CREDENTIAL',\n      credential_ref: rq.credential_ref,\n      exists: true,\n      valid: true,\n      platform,\n      client_id: row.client_id ?? null,\n      error_code: null,\n      error_message: null,\n    },\n    pairedItem: { item: rq.__req_idx },\n  };\n});\n"
      },
      "id": "3a58aa41-7b42-43bd-bd71-7bd5a150e8fc",
      "name": "Réponse VALIDATE_CREDENTIAL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://spotty-teams-enter.loca.lt/v1/secret/data/credentials/' + $json.credential_ref }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Vault-Token",
              "value": "V4ult_R00t_T0k3n_2026!"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ data: { access_token: $json.new_access_token, refresh_token: $json.new_refresh_token || null, expires_at: $json.new_expires_at } }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "pg-update-token-001",
      "name": "HTTP - UPDATE token in Vault",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        400
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Reponse UPDATE_TOKEN v2 (Vault KV v2)\n// ============================================================\n\nconst results = $input.all();\nconst allReq = $items('Valider entree & action').map(i => i.json);\nconst reqs = allReq.filter(r => r.action === 'UPDATE_TOKEN');\n\nreturn reqs.map((rq, subIdx) => {\n  const row = results[subIdx]?.json || {};\n\n  const ok = !!(row?.data?.version || row?.data?.created_time || Object.keys(row).length > 0);\n\n  if (!ok) {\n    return {\n      json: {\n        success: false,\n        action: 'UPDATE_TOKEN',\n        credential_ref: rq.credential_ref,\n        error_code: 'VAULT_WRITE_FAILED',\n        error_message: `Echec ecriture Vault pour credential_ref '${rq.credential_ref}'`,\n      },\n      pairedItem: { item: rq.__req_idx },\n    };\n  }\n\n  return {\n    json: {\n      success: true,\n      action: 'UPDATE_TOKEN',\n      credential_ref: rq.credential_ref,\n      new_expires_at: rq.new_expires_at || null,\n      refresh_token_updated: !!rq.new_refresh_token,\n      version: row?.data?.version || null,\n    },\n    pairedItem: { item: rq.__req_idx },\n  };\n});\n"
      },
      "id": "f3dc9cd2-ae61-4945-9a98-17d5e8137cd3",
      "name": "Réponse UPDATE_TOKEN",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://spotty-teams-enter.loca.lt/v1/secret/data/credentials/' + $json.credential_ref }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Vault-Token",
              "value": "V4ult_R00t_T0k3n_2026!"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "pg-check-expiration-001",
      "name": "HTTP - GET credential for CHECK_EXPIRATION (Vault)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        608
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Réponse CHECK_EXPIRATION v2 (PostgreSQL)\n// ============================================================\n// Logique métier IDENTIQUE à v1 :\n//   - Calcule si le token est expiré\n//   - Calcule expires_in_seconds\n//   - Détermine si un refresh est nécessaire (< 5 min)\n// BONUS PostgreSQL :\n//   - has_refresh_token calculé directement en SQL\n//     (pas besoin de vérifier !!f.refresh_token en JS)\n// ============================================================\n\nconst results = $input.all();\nconst allReq = $items('Valider entrée & action').map(i => i.json);\nconst reqs = allReq.filter(r => r.action === 'CHECK_EXPIRATION');\n\nreturn reqs.map((rq, subIdx) => {\n  const row = results[subIdx]?.json?.data?.data || null;\n\n  if (!row) {\n    return {\n      json: {\n        success: false,\n        action: 'CHECK_EXPIRATION',\n        error_code: 'CREDENTIAL_NOT_FOUND',\n        error_message: `credential_ref '${rq.credential_ref}' introuvable`,\n      },\n      pairedItem: { item: rq.__req_idx },\n    };\n  }\n\n  const now = new Date();\n  const expiresAt = row.expires_at ? new Date(row.expires_at) : null;\n\n  let expired = true;\n  let expires_in_seconds = 0;\n  let needs_refresh = true;\n\n  if (expiresAt) {\n    expired = expiresAt <= now;\n    expires_in_seconds = Math.floor((expiresAt - now) / 1000);\n    needs_refresh = expires_in_seconds < 300; // < 5 minutes\n  }\n\n  return {\n    json: {\n      success: true,\n      action: 'CHECK_EXPIRATION',\n      credential_ref: rq.credential_ref,\n      platform: row.platform || '',\n      expires_at: row.expires_at || null,\n      expired,\n      expires_in_seconds: Math.max(0, expires_in_seconds),\n      needs_refresh,\n      has_refresh_token: !!row.refresh_token,\n    },\n    pairedItem: { item: rq.__req_idx },\n  };\n});\n"
      },
      "id": "98cf3bb3-f5e3-41b3-b3ef-c78071ad391b",
      "name": "Réponse CHECK_EXPIRATION",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        608
      ]
    }
  ],
  "pinData": {
    "Trigger Sub-Workflow": [
      {
        "json": {
          "action": "GET_CREDENTIAL",
          "credential_ref": "CRED-META-01"
        }
      }
    ]
  },
  "connections": {
    "Trigger Sub-Workflow": {
      "main": [
        [
          {
            "node": "Valider entrée & action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valider entrée & action": {
      "main": [
        [
          {
            "node": "Router par action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router par action": {
      "main": [
        [
          {
            "node": "HTTP — GET credential from Vault",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - GET credential for VALIDATE (Vault)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - UPDATE token in Vault",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - GET credential for CHECK_EXPIRATION (Vault)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — GET credential from Vault": {
      "main": [
        [
          {
            "node": "Réponse GET_CREDENTIAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - GET credential for VALIDATE (Vault)": {
      "main": [
        [
          {
            "node": "Réponse VALIDATE_CREDENTIAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - UPDATE token in Vault": {
      "main": [
        [
          {
            "node": "Réponse UPDATE_TOKEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - GET credential for CHECK_EXPIRATION (Vault)": {
      "main": [
        [
          {
            "node": "Réponse CHECK_EXPIRATION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "v2-postgresql-migration",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b5eadc60aa2160b2d4f6fd4e1236df5f22cad2d61ce7970f5addab93a65af9e8"
  },
  "id": "rm5XCUPEyfzV-rtJxfuo0",
  "tags": [
    {
      "updatedAt": "2026-03-23T15:07:20.139Z",
      "createdAt": "2026-03-23T15:07:20.139Z",
      "id": "0YyrCPMMgA2N9Vrp",
      "name": "yahya-rmili"
    },
    {
      "updatedAt": "2026-03-03T11:23:22.634Z",
      "createdAt": "2026-03-03T11:23:22.634Z",
      "id": "LBLMyez773ACrnTz",
      "name": "Services Partagés"
    },
    {
      "updatedAt": "2026-03-25T08:23:44.594Z",
      "createdAt": "2026-03-25T08:23:44.594Z",
      "id": "NJyK77I8oZ1P6mCe",
      "name": "system-diffusion"
    },
    {
      "updatedAt": "2026-03-04T15:14:21.459Z",
      "createdAt": "2026-03-04T15:14:21.459Z",
      "id": "NdD64LQqhjupQJci",
      "name": "CredentialsService"
    }
  ]
}